In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/home/kabeyene/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
Database = pd.read_csv("Walmart.csv")

In [4]:
Database

,transaction_id,customer_id,product_id,product_name,category,quantity_sold,unit_price,transaction_date,store_id,store_location,...,customer_loyalty_level,payment_method,promotion_applied,promotion_type,weather_conditions,holiday_indicator,weekday,stockout_indicator,forecasted_demand,actual_demand
0,1,2824,843,Fridge,Electronics,3,188.46,3/31/2024 21:46,3,"Miami, FL",...,Silver,Credit Card,True,NaN,Stormy,False,Friday,True,172,179
1,2,1409,135,TV,Electronics,4,1912.04,7/28/2024 12:45,5,"Dallas, TX",...,Gold,Cash,True,Percentage Discount,Rainy,False,Monday,True,109,484
2,3,5506,391,Fridge,Electronics,4,1377.75,6/10/2024 4:55,1,"Los Angeles, CA",...,Platinum,Cash,False,NaN,Sunny,False,Tuesday,True,289,416
3,4,5012,710,Smartphone,Electronics,5,182.31,8/15/2024 1:03,5,"Miami, FL",...,Silver,Cash,True,Percentage Discount,Sunny,True,Sunday,False,174,446
4,5,4657,116,Laptop,Electronics,3,499.28,9/13/2024 0:45,6,"Chicago, IL",...,Bronze,Digital Wallet,False,NaN,Sunny,False,Thursday,True,287,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,6898,852,Headphones,Appliances,1,682.15,7/8/2024 6:13,17,"New York, NY",...,Gold,Cash,False,NaN,Sunny,False,Wednesday,True,257,294
4996,4997,8412,886,Laptop,Appliances,3,1418.09,2/7/2024 11:30,16,"Los Angeles, CA",...,Bronze,Digital Wallet,True,NaN,Sunny,True,Sunday,True,388,397
4997,4998,8331,934,Fridge,Electronics,5,398.66,8/20/2024 0:38,16,"New York, NY",...,Bronze,Digital Wallet,True,NaN,Cloudy,False,Thursday,True,314,204
4998,4999,7505,439,Laptop,Appliances,3,1000.95,8/26/2024 11:05,16,"Miami, FL",...,Silver,Debit Card,True,NaN,Stormy,False,Tuesday,False,488,144
4999,5000,1003,926,Washing Machine,Appliances,1,710.03,2/9/2024 1:27,12,"New York, NY",...,Platinum,Debit Card,True,BOGO,Stormy,True,Wednesday,False,142,148